<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Gary's Bando</title>
</head>

<body> 
    <style>
        body{
            background-image: url(http://pa1.narvii.com/5740/78bb4bae24938468a6a0b6cbdb7224beae3b7b95_00.gif);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>   
    
<h1>WELCOME TO YOUR POKEMON DIRECTORY</h1>

<!-- To Add New Pokemon Click -->
    <nav>
        <a href="/pokemon/new">INCUBATE A POKEMON</a>
    </nav>

<!-- List of All Pokemon -->
<!-- Create Unordered List and List Item (Pokemon Name, Image, Delete "Click" & Change "Click") -->
    <ul>
        <% for (let i = 0; i <pokemon.length; i++) { %>
        <li>
            <a href="/pokemon/<%= i %>"> <%= pokemon[i].name %> </a>
            <img src="<%= pokemon[i].img %>"/>
            <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
                <input type="submit" value="KILL"/>
            </form>
            <a href="/pokemon/<%=i; %>/edit">CHANGE</a>
        </li> <% } %>
    </ul>

<!-- Link CSS Later -->
<link rel="stylesheet" href="/style.css">
</body>
</html>